<div class="container">
    <div class="form">
        <div class="profile">
            <div class="user-image"><img src="" alt="image"></div>
            <div class="username">
                <%= @user.name %>
            </div>
        </div>
    </div>
</div>