// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "home";

.main{
    background-image: none;
    background-color: #fff;
}
.form {
    width: 100%;
    margin: 100px 0;
    p {
        color: $main-color;
    }
    &-header {
        padding:6px 0 18px;
        font-size: 18px;
        color: $main-color;
    }
    &-main {
        text-align: left;
        p {
            font-size: 12px;
            padding-bottom: 4px;
        }
    }
    &-error {
        color: red;
        font-size: 8px;
        padding-bottom: 20px;
    }
    
    @include mq(tb) {
        padding: 20px 40px;
        &-header {
            padding:8px 0 24px;
            font-size: 24px;
        }
        &-main {
            text-align: left;
            p {
                font-size: 16px;
                padding-bottom: 4px;
            }
        }
        &-error {
            font-size: 12px;
            padding-bottom: 20px;
        }
    
    }
    @include mq(pc) {
        padding: 40px 100px;
        &-header {
            padding:12px 0 32px;
            font-size: 36px;
        }
        &-main {
            text-align: left;
            p {
                font-size: 24px;
                padding-bottom: 4px;
            }
        }
        &-error {
            font-size: 16px;
            padding-bottom: 20px;
        }
    }
}

.text-box {
    width: 100%;
    height: 24px;
    margin-bottom: 20px;
    padding: 14px;
    border: 1px solid #d8dadf;
}

.btn {
    display: block;
    margin: 12px auto;
    padding: 8px 50px;
    background-color: $main-color;
    color: #ffffff;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    background-color:#cacaca;
    display: inline-block;
    margin: 40px 80px;
}

.username {
    color: $main-color;
    font-size: 30px;
}

.task_index_title{
    margin: 30px;
    font-size: 30px;
}

.task{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0px 5px #2c3236;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 0;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    
}

.task_context{
    width: 90%;
    display: inline-block;
    text-align: left;
    word-wrap: break-word;

}

.complete{
    color: blue;
        display: inline-block;
        text-align: right;
        &:active{
            color: blue;
        }
}


.delete {
    padding-top: 500px;
    a{
            color: red;
        
    }
}